@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "../fonts/index.css";

@layer base {
  :root {
    --font-display: "Urbanist", sans-serif;
    --font-body: "NueMontreal", sans-serif;
  }
}

:root {
  --color-accent1: #e77239;
  --color-accent2: #a86062;
  --color-accent3: #6e43fe;
  --color-accent4: #5f7c9a;
  --color-accent5: #ec3828;
  --color-text: #2e2e2e;
  --color-lightText: #5c5c5c;
  --color-whiteText: #ffffff;
  --color-background: #f3f3f2;

  --layout-gutter: 10px;
  --layout-margin: 16px;

  --layout-column: calc(
    (100vw - (2 * var(--layout-margin)) - (11 * var(--layout-gutter))) / 12
  );
}

@media (min-width: 656px) {
  :root {
    --layout-gutter: 16px;
    --layout-margin: 28px;
  }
}

@media (min-width: 960px) {
  :root {
    --layout-gutter: 24px;
    --layout-margin: 42px;
  }
}

@media (min-width: 1280px) {
  :root {
    --layout-gutter: 24px;
    --layout-margin: max(42px, (100vw - 1920px) / 2);
  }
}
html {
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}
html,
body,
p,
h1,
h2,
h3 {
  @apply m-0 p-0 box-border;
}

body {
  padding-left: var(--layout-margin);
  padding-right: var(--layout-margin);
  overflow-x: hidden;
}

p {
  @apply text-s-400;
}
h2 {
  @apply text-heading-2;
}
h3 {
  @apply text-heading-3;
}
.s-rich-text h1 {
  @apply text-heading-2;
}
.s-rich-text h2 {
  @apply text-heading-3;
}
.s-rich-text h3 {
  @apply text-heading-4;
}
.s-rich-text h4 {
  @apply text-heading-5;
}
.s-rich-text h5 {
  @apply text-heading-5;
}
.s-rich-text p {
  @apply text-s-400;
}
.s-rich-text ul {
  @apply text-s-400;
}
.s-rich-text a {
  @apply text-s-400 text-accent4;
  text-decoration: underline;
  @media (hover: hover) {
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 300ms;
    }
    &:hover {
      transform: translateX(1px);
    }
    &:hover::after {
      width: 100%;
    }
  }
}
